<%= render 'home/nav_bar' %>

<%= render 'home/header' %>

<% if notice %>
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0"><%= notice %></a>.</p>
  </div>
<% end %>

<div class="container">
    <div class="row">
      <div class="col-9">
        Se você estiver vendo as vagas é porque são recentes, então aproveite e veja quais os procedimentos a serem seguidos.<br><br><br><br>
      </div>
    <div class="list-group col-12">
      <% @jobs.each do |job| %>
        <%= link_to job, class: 'noHover' do %>
          <div class="card bg-light mb-3">
            <div class="card-header">
              <span class="badge badge-info pull-right"><%= job.city %></span>
              
              <span class="badge badge-info pull-right"><%= "Publicado dia: " + " #{job.created_at.strftime("%d-%m-%y")}" %></span> 
            </div>
            <div class="card-body">
              <h4 class="card-title"><%= job.category %></h4>
            </div>
          </div>
        <% end %><br>
      <% end %>
    </div>
  </div>
</div>
</div>
<br>

<style>
.noHover{
  color: #000;
}
.noHover:hover{
    color: #000;
    text-decoration: none;
}
  .date{
    width: 170px;
    padding: 1%;
  }
  .badge-info{
    width: 200px;
    padding: 1%;
  }
  .paragrafo {
    overflow: hidden;
    text-overflow: ellipsis;
}
</style>