<%= render 'home/nav_bar' %>

<header class="bg-primary py-5 mb-5">
<div id="particles-js"></div>
  <div class="container h-100">
    <div class="row h-50 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2"><%= @job.category %></h1><br>
        <span class="badge badge-success"><%= @job.city %></span>

        <span class="badge badge-success date">Publicado dia: <%= @job.created_at.strftime("%d-%m-%y") %></span>

        <span class="badge badge-success date">Total de vagas: <%= !@job.amount.blank? ? @job.amount : 1 %></span>
      </div>
    </div>
  </div>
</header>

<% if notice %>
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0"><%= notice %></a>.</p>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="container"><!--Caixa para mostrar o valor-->
      <div class="row">
        <div class="col-md-4 login-form-1">
          <b>Salário:</b> <%= salary_job %>
        </div>
      </div>
    </div><br>
    
    <div class="col-md-12">
        <h5>
          Descrição
          <% if user_belongs_to_job(@job) %>
            <%= link_to edit_job_path(@job), type: "button", class: "btn btn-warning" do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Editar
            <% end %>
          <% end %>
        </h5>
        <hr>
        <%= @job.description.html_safe %>
      </div>
    </div>
    <% unless @job.pre_requirements.blank? %>
      <div class="col-md-12">
        <h5>Pré Requisitos</h5>
        <hr>
        <%= @job.pre_requirements.html_safe %>
      </div>
    <% end %>

    <% unless @job.more_details.blank? %>
      <div class="col-md-12">
        <h5>Mais Detalhes</h5>
        <hr>
        <%= @job.more_details %>
      </div>
    <% end %>
  </div>
</div><br><br>

<%= render 'style_left_side_bar' %>